/**
body {

    background-color: darkcyan;

}
**/

.jumbotron {
    background-color: teal;
    color: white;
    border: 2px solid  teal;
}

.card-body {
    border: 2px solid teal;
    margin-bottom: 20px;
}

.card-heading {
    border-top: 2px solid  teal;
    border-right: 2px solid  teal;
    border-left: 2px solid  teal;
    background-color: teal;
    padding: 0px;
}

h3 card-title {
    padding: 0px;
}

.form-group.row {
    margin-left: 0px;
}

h1 {
    margin-top: 30px;
}

h3 {
    padding-left: 15px;
    background-color: teal;
    color: white;
}

.btn-primary {
    background-color: teal;
    color: white;
}

label {
    font-weight: bold;
}

thead {
    font-weight: bold;
}

.table th { border-top: none; }

/**
 * Media Query
 **/
 
 /**
 @media screen and (max-width: 768px) {
    
    img {
        width: 200px;
        height: 200px;
        
    }
  }    
  
  **/
  /* Additional Screen Sizes */
  
  /* Width at 640px and below */
  /**
  @media screen and (max-width: 640px) {
  
    img {
        width: 150px;
        height: 150px;
    }
  }
  **/
